--require env_variables.rb
--require spec_helper
--require support/helpers/participants_helper.rb
--require support/helpers/users_helper.rb
--color
--format documentation
--format progress
--out 'output/rspec <%= Time.now.strftime('%m.%d.%y %H.%M.%S') %>.txt'
